#main-page {
    background-color: #5A189A;
    font-family: "Ruluko", sans-serif;
    display: flexbox;
    justify-content: center;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

#main-page::after{
    content: ' ';
    background-image: url('/background.png');
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-main {
    top: 2.963vh;
    position: relative;
    background-color: #7251B5;
    display: flex;
    justify-content: space-between;
    height: 12.87vh;
    width: 92.604vw;
    margin-left: 3.698vw;
    margin-right: 3.698vw;
    align-items: center;
    border-radius: 81px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    font-size: 2.778vh;
}

#about {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 3.177vw;
}

.logo-title {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 31.823vw;
    padding-right: 3.125vw;
}

.logo-title img {
    height: 12.87vh;
    width: 6.25vw;
    margin-right: calc((30/1920) * 100vw);
}

.logo-title p {
    font-family: "Stylish", serif;
    font-weight: 200;
    font-size: 4.63vh;
    color: rgba(255, 255, 255, 0.7);
}

.buttons {
    margin-right: calc((61/1920) * 100vw);
    color: black;
}

.sign-in{
    height: 6.852vh;
    width: 7.813vw;
    font-family: "Ruluko", sans-serif;
    border-radius: 81px;
    background-color: #C3E8D6;
    border: 0;
    font-size: 2.778vh;
}

.sign-in:active {
    background-color: rgb(156, 188, 173);
}

.sign-up {
    margin-left: calc((47/1920) * 100vw);
    height: 6.852vh;
    width: 7.813vw;
    font-family: "Ruluko", sans-serif;
    border-radius: 81px;
    background-color: #9E93DD;
    border: 0;
    font-size: 2.778vh;
}

.sign-up:active {
    background-color: #8278b7;
}

.main-info {
    height: 59.074vh;
    margin-top: 7.963vh;
    background-color: #DAC3E8;
    width: 77.292vw;
    border-radius: 43px;
    display: flex;
    margin-left: 11.354vw;
}

.description{
    margin-top: 12.407vh;
    width: calc((694/1920) * 100vw);
    margin-left: calc((80/1920) * 100vw);
}

.description p {
    font-size: 3.241vh;
    margin-top: 0;   
}

.characters {
    margin-top: 14.815vh;
    display: inline-flex;
    height: 24.167vh;
    margin-left: calc((96/1920) * 100vw);
    width: calc((550/1920) * 100vw);
    align-items: flex-end;
}

.character1 {
    width: 9.2vw;
    height: 21.204vh;
}

.character2 {
    width: 10vw;
    height: 24.167vh;
}

.character3 {
    width: 7.4vw;
    height: 22.87vh;
}
