.my-tasks-page {
    display: flex;
    background-color: #DAC3E8;
    width: 100vw;
    font-family: "Ruluko", sans-serif;
}

header {
    width: 100%;
    top: 0;
    margin: 0;
    background-color: #7251B5;
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.logo-title-container {
    width: calc((398/1920) * 100vw);
    height: 100%;
    display: inline-flex;
}

.logo-title-container img {
    width: calc((80/1920) * 100vw);
    margin-left: calc((9/1920) * 100vw);
}

.logo-title-container p {
    font-family: "Stylish", serif;
    color: rgba(255, 255, 255, 0.8);
}

.profile-header {
    width: calc((400/1920) * 100vw);
    height: 100%;
    margin-right: calc((56/1920) * 100vw);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFF;
}

.profile-header img {
    width: calc((35/1920) * 100vw);
}

.profile-header p.point {
    margin-left: calc((-11/1920) * 100vw);
}

.profile-header p.user {
    margin-left: calc((65/1920) * 100vw);
    margin-right: calc((43/1920) * 100vw);
}

.profile-photo {
    background-color: #DAC3E8;
    width: calc((50/1920) * 100vw);
    border-radius: 50%;
}

.sidebar {
    display: flexbox;
    background-color: #5A189A;
    width: calc((337/1920) * 100vw);
    z-index: 0;
    position: relative;
}

.sidebar::after {
    content: ' ';
    background-image: url('/background.png');
    opacity: 0.15;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.menu {
    margin-left: calc((14/1920) * 100vw);
}

.my-tasks, .groups, .store, .stats, .inventory {
    width: calc((264/1920) * 100vw);
    display: inline-flex;
}

.my-tasks a, .groups a, .store a, .stats a, .inventory a{
    width: calc((145/1920) * 100vw);
    text-decoration: none;
    color: #FFFF;
}

.my-tasks {
    border-radius: 30px;
    border: 2px solid #FFFF;
}

.my-tasks img, .groups img, .store img, .stats img, .inventory img {
    width: calc((30/1920) * 100vw);
}

.log-out {
    margin: 0 0 0 calc((29/1920) * 100vw);
    position: absolute;
    width: calc((264/1920) * 100vw);
    display: inline-flex;
}

.log-out img {
    width: calc((35/1920) * 100vw);
}

.log-out a {
    margin: 0 0 0 calc((23/1920) * 100vw);
    color: #FFFF;
    text-decoration: none;
}

.tasks-container {
    width: calc((747/1920) * 100vw);
}

.task-overflow {
    overflow-y: auto;
}

.task-overflow::-webkit-scrollbar {
    width: calc((7/1920) * 100vw);
}

.task-overflow::-webkit-scrollbar-track {
    background: #C6ABD7; 
    border-radius: 8px;
}

.task-overflow::-webkit-scrollbar-thumb {
    background-color: #7251B5; 
    border-radius: 8px; 
}

.your-tasks {
    margin: 0;
    width: calc((654/1920) * 100vw);
    color: #5A189A;
    text-align: center;
}


.tasks-container .task {
    display: flex;
    width: calc((646/1920) * 100vw);
    background-color: #CAA1E4;
    border-radius: 8px;
    border-left: 2px solid #5A189A;
    border-right: 2px solid #5A189A;
}

.task .task-title {
    width: calc((280/1920) * 100vw);
    color: #4E1686;
}

.task .task-content {
    width: calc((311/1920) * 100vw);
    display: flex;
    align-items: center; 
}

.task .task-deadline {
    color: #4E1686;
}

.task .task-reward {
    color: #5A189A;
    margin-left: calc((8/1920) * 100vw);
}

.task img {
    width: calc((27/1920) * 100vw);
}

.task input {
    margin-left: calc((215/1920) * 100vw);
    width: calc((33/1920) * 100vw);
}

.status {
    display: none;
}

.status + label {
    position: relative;
    display: inline-block;
    width: calc((21/1920) * 100vw);
    /*height: 20px;*/
    background-color: #CAA1E4;
    border: 2px solid #5A189A;
    border-radius: 3px;
    cursor: pointer;
    margin-left: calc((215/1920) * 100vw);
}

.status:checked + label {
    background-color: #CAA1E4;
}

.status + label::after {
    content: "";
    position: absolute;
    top: calc((5/1080) * 47.44vw);
    left: calc((2.3/1920) * 100vw);
    width: calc((14/1920) * 100vw);
    height: calc((7/1080) * 47.44vw);
    border-left: calc((2/1920) * 100vw) solid #5A189A;
    border-bottom: calc((2/1920) * 100vw) solid #5A189A;
    transform: rotate(-45deg);
    opacity: 0; 
    transition: opacity 0.2s ease-in-out;
}

.status:checked + label::after {
    opacity: 1;
}


