.my-tasks-page {
    display: flex;
    background-color: #DAC3E8;
    height: 53vw;
    width: 99.1vw;
    font-family: "Ruluko", sans-serif;
}

header {
    height: 91px;
    width: 100%;
    top: 0;
    margin: 0;
    background-color: #7251B5;
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.logo-title-container {
    width: 398px;
    height: 100%;
    display: inline-flex;
}

.logo-title-container img {
    width: 94px;
    height: 94px;
    margin-left: 9px;
}

.logo-title-container p {
    font-family: "Stylish", serif;
    font-size: 50px;
    margin: 15px 0 0 0;
    color: rgba(255, 255, 255, 0.8);
}

.profile-header {
    width: 400px;
    height: 100%;
    margin-right: 56px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFF;
    font-size: 25px;
}

.profile-header img {
    height: 34px;
    width: 40px;
}

.profile-header p.point {
    margin-left: -11px;
}

.profile-header p.user {
    margin-left: 65px;
    margin-right: 43px;
}

.profile-photo {
    background-color: #DAC3E8;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.sidebar {
    margin-top: 91px;
    display: flexbox;
    background-color: #5A189A;
    height: calc(53vw - 91px);
    width: 337px;
    z-index: 0;
    position: relative;
}

.sidebar::after {
    content: ' ';
    background-image: url('/background.png');
    opacity: 0.15;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 337px;
    height: calc(53vw - 91px);
    z-index: -1;
}

.menu {
    margin-top: 58px;
    margin-left: 14px;
    font-size: 35px;
}

.my-tasks, .groups, .store, .stats, .inventory {
    width: 264px;
    height: 55px;
    display: inline-flex;
    margin-bottom: 10px;
}

.my-tasks a, .groups a, .store a, .stats a, .inventory a{
    margin: 6px 0 0 23px;
    width: 145px;
    text-decoration: none;
    color: #FFFF;
}

.my-tasks {
    height: 51px;
    border-radius: 30px;
    border: 2px solid #FFFF;
}

.my-tasks img, .groups img, .store img, .stats img, .inventory img {
    height: 35px;
    width: 35px;
    margin: 9px 0 0 15px;
}

.log-out {
    margin: 0 0 0 29px;
    position: absolute;
    bottom: 66px;
    width: 264px;
    height: 55px;
    display: inline-flex;
}

.log-out img {
    height: 35px;
    width: 35px;
}

.log-out a {
    margin: 0 0 0 23px;
    font-size: 35px;
    color: #FFFF;
    text-decoration: none;
}

.tasks-container {
    height: 712px;
    width: 747px;
    margin: 150px 0 0 114px;
}

.task-overflow {
    height: 712px;
    overflow-y: auto;
}

.task-overflow::-webkit-scrollbar {
    width: 7px; 
}

.task-overflow::-webkit-scrollbar-track {
    background: #C6ABD7; 
    border-radius: 8px;
}

.task-overflow::-webkit-scrollbar-thumb {
    background-color: #7251B5; 
    border-radius: 8px; 
}

.your-tasks {
    margin: 0;
    width: 654px;
    color: #5A189A;
    font-size: 50px;
    text-align: center;
    margin-bottom: 32px;
}


.tasks-container .task {
    display: flex; 
    height: 64px;
    width: 646px;
    background-color: #CAA1E4;
    margin-bottom: 17px;
    border-radius: 8px;
    border-left: 2px solid #5A189A;
    border-right: 2px solid #5A189A;
}



.task .task-title {
    height: 25px;
    width: 280px;
    color: #4E1686;
    font-size: 22px;
    margin: 8px 0 0 19px; 
}

.task .task-content {
    width: 311px;
    display: flex;
    align-items: center; 
}

.task .task-deadline {
    color: #4E1686;
    font-size: 14px;
    margin: 7px 0 8px 20px; 
    height: 16px;
}

.task .task-reward {
    color: #5A189A;
    font-size: 25px;
    margin-left: 8px;
}

.task img {
    height: 27px;
    width: 32px; 
}

.task input {
    margin-left: 215px;
    height: 33px;
    width: 33px;
}

.status {
    display: none;
}

.status + label {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #CAA1E4;
    border: 2px solid #5A189A;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 215px;
}

.status:checked + label {
    background-color: #CAA1E4;
}

.status + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #5A189A;
    border-bottom: 2px solid #5A189A;
    transform: rotate(-45deg);
    opacity: 0; 
    transition: opacity 0.2s ease-in-out;
}

.status:checked + label::after {
    opacity: 1;
}


