.sign-up-page {
    background-color: #5A189A;
    font-family: "Ruluko", sans-serif;
    display: flexbox;
    justify-content: center;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    position: relative;
    z-index: 0;
  }
  
.sign-up-page::after{
    content: ' ';
    background-image: url('/background.png');
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header {
    background-color: #7251B5;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 81px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}


#about {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: calc((61/1920) * 100vw);
}

.logo-title {
    display: flex;
    justify-content:flex-end;
    width: calc((611/1920) * 100vw);
    padding-right: calc((60/1920) * 100vw);
}

.logo-title img {
    width: calc((117/1920) * 100vw);
    margin-right: calc((30/1920) * 100vw);
}

.logo-title p {
    font-family: "Stylish", serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
}

.buttons {
    margin-right: calc((61/1920) * 100vw);
    color: black;
}

.sign-in{
    width: calc((150/1920) * 100vw);
    font-family: "Ruluko", sans-serif;
    border-radius: 81px;
    background-color: #C3E8D6;
    border: 0;
}

.sign-up {
    margin-left: calc((47/1920) * 100vw);
    width: calc((150/1920) * 100vw);
    font-family: "Ruluko", sans-serif;
    border-radius: 81px;
    background-color: #9E93DD;
    border: 0;  
}

.sign-in:active {
    background-color: rgb(156, 188, 173);
}

.sign-up:active {
    background-color: #8278b7;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((729/1920) * 100vw);
    background-color: #DAC3E8;
    border-radius: 43px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.sign-up-container p {
    margin: 0;
    color: #7251B5;
}

.submit-sign-up {
    border: 0;
    background-color: #7251B5;
    color: #FFFFFF;
    margin-top: 0;
}

.submit-sign-up:active {
    background-color: #5A189A;
}

.user-name input, .email input, .password-up input, .confirm-password input {
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #7251B5;
    border-right: 1px solid #7251B5;
    background-color: rgba(208, 151, 254, 0.5);
    padding-left: calc((42/1920) * 100vw);
    border-radius: 10px;
    width: calc((508/1920) * 100vw);
    font-family: "Ruluko", sans-serif;
}

.user-name input::placeholder, .email input::placeholder, .password-up input::placeholder, .confirm-password input::placeholder {
    color: rgba(255, 255, 255, 0.56);
}

.submit-sign-up {
    border-radius: 10px;
    width: calc((554/1920) * 100vw);
    font-family: "Ruluko", sans-serif;
}